* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button, 
.ships-btn-container {
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

/* --HEADER-- */
header {
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

img {
    width: 95px;
    height: 95px;
}

svg {
    width: 35px;
    height: 35px;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
}

.header-right {
    display: flex;
    align-items: center;
}

/* --MAIN-- */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.board-container-left,
.board-container-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.player1-board-container,
.player2-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.player1-board, 
.player2-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.player2-board .cell{
    cursor: pointer;
}

.cell {
    border: 1px solid black;
}

.ship {
    background-color: gray;
}

.hit {
    background-color: red;
}

.miss {
    background-color: lightskyblue;
}

.player1-ship-container {
    display: flex;
    flex-direction: column;
}

.player1-ship-container.vertical-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.player1-ship-container.vertical-layout .ship-preview:last-child {
    grid-column: span 2;
    justify-self: center;
}

.ship-preview {
    display: flex;
    margin: 0.7rem;
    cursor: grab;
    width: fit-content;
}

.ship-preview.horizontal {
    flex-direction: row;
}

.ship-preview.vertical {
    flex-direction: column;
}

.ship-preview.used {
    opacity: 0.4;
    cursor: not-allowed;
}

.ship-preview.sunk .ship-segment{
    background-color: red;
}

.ship-segment {
    width: 40px;
    height: 40px;
    background: gray;
    border: 1px solid black;
}

.ships-btn-container {
    display: flex;
    flex-direction: column;
}

.preview {
  background-color: lightgray;
}

.preview-invalid {
    background-color: lightcoral;
}

/* --Turn Bar-- */
.turn-bar-container {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: gray;
    border-radius: 8px;
    overflow: hidden;
}

.player1-turn-indicator,
.player2-turn-indicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.player1-turn-indicator {
    left: 0;
    background-color: blue;
    transform-origin: right center;
}

.player2-turn-indicator {
    right: 0;
    background-color: red;
    transform-origin: left center;
}

.active {
    transform: scaleX(1);
}

.turn-text{
    color: var(--dark-blue);
}

/* --FOOTER-- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
}

/* --Difficulty Modal-- */
.difficulty-selector-modal {
    border-radius: 10px;
    border: 1px solid gray;
    margin: auto;
    padding: 1rem;
    gap: 1.5rem;
}

dialog[open]{
    display: flex;
    flex-direction: column;
}

.difficulty-btns-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.difficulty-btn {
    cursor: pointer;
    width: 6rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.2s ease;
}

.difficulty-btn:hover {
    background-color: darkgray;
}