* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-blue: #091e29;
    --light-blue: #1b2f3a;
    --blue-1: #2b4959;
    --blue-2: #325c72;
    --blue-3: #b1e2f5;
    --player-1: #93f7ee;
    --cpu: #fc5e5e;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-blue);
    color: white;
}

button, 
.ships-btn-container {
    user-select: none;
}

button:disabled {
    cursor: not-allowed;
}

/* --HEADER-- */
header {
    display: flex;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--light-blue);
}

.battleship-logo {
    width: 95px;
    height: 95px;
}

header h1 {
    color: var(--blue-3);
}

.github-logo {
    width: 35px;
    height: 35px;
    fill: var(--blue-3);
    transition: 0.25s ease;
}

.github-logo:hover {
    fill: var(--blue-2);
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
}

.header-right {
    display: flex;
    align-items: center;
}

/* --MAIN-- */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.status-text {
    margin: 1rem;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.board-container-left,
.board-container-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.player1-board-container,
.player2-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.player1-board, 
.player2-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 600px;
    height: 600px;
    border: 1px solid var(--light-blue);
}

.player2-board .cell{
    cursor: pointer;
}

.cell {
    border: 1px solid var(--light-blue);
}

.ship {
    background-color: var(--player-1);
}

.hit {
    background-color: red;
}

.miss {
    background-color: var(--blue-1);
}

.player1-ship-container,
.player2-ship-container {
    border: 1px solid var(--blue-1);
    background-color: var(--light-blue);
    border-radius: 15px;
    padding: 0.7rem;
}

.player1-ship-container.vertical-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
}

.player1-ship-container.vertical-layout .ship-preview:last-child {
    grid-column: span 2;
    justify-self: center;
}

.util-btns-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.75rem;
}

.randomize-ships-btn,
.rotate-ships-btn,
.reset-board-btn,
.start-game-btn {
    cursor: pointer;
    font-size: 0.9rem;
    border: none; 
    padding: 0.75rem; 
    border-radius: 10px;
    color: var(--bg-blue);
    background-color: var(--blue-3);
    transition: 0.2s ease;  
}

.start-game-btn {
    padding: 0.75rem 1.7rem;
    margin-top: 2rem;
}

.randomize-ships-btn:hover,
.rotate-ships-btn:hover,
.reset-board-btn:hover,
.start-game-btn:hover {
    background-color:var(--blue-2);
    color:var(--blue-3);
}

.ship-preview {
    display: flex;
    margin: 0.7rem;
    cursor: grab;
    width: fit-content;
}

.ship-preview.horizontal {
    flex-direction: row;
}

.ship-preview.vertical {
    flex-direction: column;
}

.ship-preview.used {
    opacity: 0.4;
    cursor: not-allowed;
}

.ship-preview.sunk .ship-segment{
    background-color: red;
}

.ship-segment {
    width: 40px;
    height: 40px;
    background: var(--blue-2);
    border: 1px solid var(--light-blue);
}

.ships-btn-container {
    display: flex;
    flex-direction: column;
}

.preview {
  background-color: var(--blue-2);
}

.preview-invalid {
    background-color: lightcoral;
}

/* --Turn Bar-- */
.turn-bar-container {
    position: relative;
    width: 50%;
    height: 50px;
    background-color: var(--light-blue);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.player1-turn-indicator,
.player2-turn-indicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);
}

.player1-turn-indicator {
    left: 0;
    background-color: var(--player-1);
    transform-origin: right center;
}

.player2-turn-indicator {
    right: 0;
    background-color:var(--cpu);
    transform-origin: left center;
}

.active {
    transform: scaleX(1);
}

.turn-text{
    color: var(--bg-blue);
}

/* --FOOTER-- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
    background-color: var(--light-blue);
    font-size: 1.15rem;
}

footer a {
    color: white;
    text-decoration: none;
    position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 8px;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.25s ease;
}

footer a:hover::after {
    width: 0;
}

/* --Difficulty Modal-- */
.difficulty-selector-modal {
    border-radius: 10px;
    border: 1px solid var(--blue-2);
    background-color: var(--blue-1);
    color: white;
    margin: auto;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
}

dialog[open]{
    display: flex;
    flex-direction: column;
}

dialog h2 {
    font-size: 2.15rem;
    font-weight: 700;
    margin: 0.2rem;
}

.difficulty-btns-container {
    display: flex;
    justify-content: center;
    gap: 2.10rem;
    margin-top: 0.5rem;
}

.difficulty-btn {
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--bg-blue);
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: var(--blue-3);
    transition: 0.2s ease;
}

.difficulty-btn:hover {
    background-color:var(--blue-2);
    color:var(--blue-3);
}

/* --Game Over Modal-- */
.game-over-modal {
    border-radius: 10px;
    border: 1px solid var(--blue-2);
    background-color: var(--blue-1);
    color: white;
    margin: auto;
    padding: 1rem 1.5rem;
    gap: 1.5rem;
}

.game-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.game-over-container p {
    font-size: 1.15rem;
}

.play-again-btn {
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--bg-blue);
    border-radius: 10px;
    border: none;
    background-color: var(--blue-3);
    padding: 0.75rem 1.75rem;
    transition: 0.2s ease;
}

.play-again-btn:hover {
    background-color:var(--blue-2);
    color:var(--blue-3);
}